@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Tinos&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y:	auto;
}

body {
	font-family: serif;
	font-style: normal;
	font-weight: 400;	/*字體本身胖瘦*/
	font-size: 2.5vh;
	line-height: 3.6vh;	/*行高*/
	height: 100%;
	width: 100%;
	/*font: normal small-caps 400 2.4vh/3.6vh serif;*/
}

nav {
	position: fixed;
	top: 0vh;
	left: 0vw;
	height: 100%;
	width: 120px;
	background-color: #90ff51;
	color: white;
	font-family: sans-serif;
}


nav > div {
	padding: 1vh 0;
	color: black;
	text-align: center;
}

nav > div:hover { /* 滑鼠 */
	background-color: #c0e4f0;
	border-bottom: 4px solid red;
}


a {
	color: black;
}

nav > div:hover > a { /* 滑鼠 */
	color: purple;
}


div.inline-block {
	display: inline-block;
	height: 50px;
	width: 150px;
	line-height: 30px;
	text-align: center;
	color: white;
	position: relative;
	bottom: 5px;
	margin-left: 10px;
	font-weight: bold;
}

div > article {
	background-color: white;
	color: white;
	margin: 20px 0;
	padding: 20px 20px;
	border-radius: 1em/1em;
	border-color: coral;
	border:2px black solid;
}

h1 {
	font-size: 4.8vh;
	line-height: 7.2vh;
	color: #ffa200;
	font-family: Cabin, Sans-serif; /* Sans-serif會是第二順位 */
}

p {
	font-family: Tinos, Serif; /* Serif會是第二順位 */
}

ol {
	padding-left: 60px;
}

section > p {
	padding: 0 20px;
}

hr {
	margin-bottom: 10px;
}