div {
	width: 100px;
	height: 100px;
	background-color: red;
	animation: bgChange 1s ease-in infinite alternate;	/*infinite 代表呈現無限次 alternate代表會倒帶*/
}

@keyframes bgChange{
	from {
		background-color: red;
	}

	to {
		background-color: orange;
	}
}