@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Heebo&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y:	auto;
}

body {
	font-family: serif;
	font-style: normal;
	font-weight: 400;	/*字體本身胖瘦*/
	font-size: 2.4vh;
	line-height: 3.6vh;	/*行高*/
	height: 100%;
	width: 100%;
	background-color: white;
	/*font: normal small-caps 400 2.4vh/3.6vh serif;*/
}

li.inline-block {
	display: inline-block;
	height: 50px;
	width: 150px;
	text-align: center;
	color: white;
	position: relative;
	bottom: 0px;
	left: 50vw;
	margin-left: 10px;
	font-weight: bold;
	padding-top: 30px;
}


.title_div {
	position: relative;
	display: inline-block;
	height:100%;
  	width: 20%;
    text-align: center; 
    border-right: 4px solid red; 
	font-weight: bold; 
	line-height: 100%;
	font-size: 6vh;
}

div > li {
	margin-left: 35px;
}

article {
	font-size: 3vh;
}

section > svg:first-child {
	fill: white;
}

section > svg:not(:first-child) {
	fill: white; 
	bottom: 0; 
	position: absolute;
}

section > div > a > img {
	opacity: 0.5;
	max-width: 44.7vw;

}

div > h2 {
	position: absolute; 
	z-index: 2; 
	font-size: 10vh;
}

section > div > li {
	margin-left: calc(45vw + 20px);
} 

p {
	font-family: 'Amiri', serif;
}

h1 {
	font-family: 'Heebo', sans-serif;
}

article > section > div {
	padding-bottom: 5px;
	margin-bottom: 10px;
	display:inline-block;
	font-size: 3.6vh;
}

